In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from dateutil import parser

In [5]:
bus=pd.read_csv("C:/Users/fabio/Downloads/metaData.csv")

# Esercizio 1
Extract all trips with busRoute 83

In [6]:
bus.loc[bus.busRoute=='83'] #alternativa
bus[bus['busRoute']=='83']

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

# Esercizio 2 
Extract all trips where busRoute is not a number

In [18]:
bus2 = bus.copy()
bus2['busRoute']=pd.to_numeric(bus2['busRoute'], errors='coerce')
#bus2.dropna(subset=['busRoute'])   trips where busRoute is a number
bus[bus2['busRoute'].isna()]

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15

# Esercizio 3
For each (busNumber, busRoute) pair, determine the number of trips

In [21]:
bus.groupby(['busNumber','busRoute']).size()

busNumber  busRoute
183        -            11
           31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
dtype: int64

In [22]:
bus.groupby(['busNumber','busRoute']).count() #alternativa

                    name  startTime_iso  startTime_unix  endTime_iso  \
busNumber busRoute
183       -           11             11              11           11
          31          12             12              12           12
          32          12             12              12           12
          33         130            130             130          130
          46         104            104             104          104
          72         114            114             114          114
          83         441            441             441          441
          N1          10             10              10           10
          N2          19             19              19           19
          N4          11             11              11           11
208       31           5              5               5            5
          32          14             14              14           14
          33          25             25              25           25
          46          19             19              19           19
          72          44             44              44           44
          83         405            405             405          405
          N1           6              6               6            6
          N2          20             20              20           20
          N4           7              7               7            7

                    endTime_unix  drivenDistance  energyConsumption  \
busNumber busRoute
183       -                   11              11                 11
          31                  12              12                 12
          32                  12              12                 12
          33                 130             130                130
          46                 104             104                104
          72                 114             114                114
          83                 441             441                441
          N1                  10              10                 10
          N2                  19              19                 19
          N4                  11              11                 11
208       31                   5               5                  5
          32                  14              14                 14
          33                  25              25                 25
          46                  19              19                 19
          72                  44              44                 44
          83                 405             405                405
          N1                   6               6                  6
          N2                  20              20                 20
          N4                   7               7                  7

                    itcs_numberOfPassengers_mean  itcs_numberOfPassengers_min  \
busNumber busRoute
183       -                                   11                           11
          31                                  12                           12
          32                                  12                           12
          33                                 130                          130
          46                                 104                          104
          72                                 114                          114
          83                                 441                          441
          N1                                  10                           10
          N2                                  19                           19
          N4                                  11                           11
208       31                                   5                            5
          32                                  14                           14
          33                                  25                           25
          46                                  19                           19
          72                                  44                           44
          83                                 405                          405
          N1                                   6                            6
          N2                                  20                           20
          N4                                   7                            7

                    itcs_numberOfPassengers_max  status_gridIsAvailable_mean  \
busNumber busRoute
183       -                                  11                           11
          31                                 12                           12
          32                                 12                           12
          33                                130                          130
          46                                104                          104
          72                                114                          114
          83                                441                          441
          N1                                 10                           10
          N2                                 19                           19
          N4                                 11                           11
208       31                                  5                            5
          32                                 14                           14
          33                                 25                           25
          46                                 19                           19
          72                                 44                           44
          83                                405                          405
          N1                                  6                            6
          N2                                 20                           20
          N4                                  7                            7

                    temperature_ambient_mean  temperature_ambient_min  \
busNumber busRoute
183       -                               11                       11
          31                              12                       12
          32                              12                       12
          33                             130                      130
          46                             104                      104
          72                             114                      114
          83                             441                      441
          N1                              10                       10
          N2                              19                       19
          N4                              11                       11
208       31                               5                        5
          32                              14                       14
          33                              25                       25
          46                              19                       19
          72                              44                       44
          83                             405                      405
          N1                               6                        6
          N2                              20                       20
          N4                               7                        7

                    temperature_ambient_max
busNumber busRoute
183       -                              11
          31                             12
          32                             12
          33                            130
          46                            104
          72                            114
          83                            441
          N1                             10
          N2                             19
          N4                             11
208       31                              5
          32                             14
          33                             25
          46                             19
          72                             44
          83                            405
          N1                              6
          N2                             20
          N4                              7

# Esercizio 4
For each trip, compute the ratio between the energy consumption and the average number of passengers

In [23]:
bus['ratio']= bus['energyConsumption']/bus['itcs_numberOfPassengers_mean']
bus

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max,ratio
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.1500,8.640500e+07
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.1500,1.214747e+07
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.1500,7.342794e+07
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.1500,1.673328e+08
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.1500,2.613190e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,208,2022-12-06T14:43:49Z,1670337829,2022-12-06T18:22:52Z,1670350972,51798.78,32,4.260419e+08,39.808990,0,83,0.739349,279.6404,278.15,291.1500,1.070215e+07
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.785390,0,115,0.434858,279.5283,278.15,292.6655,5.338462e+07
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.879400,0,102,0.439916,279.1724,277.15,292.1500,4.738047e+07
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.1500,2.247753e+07
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.1500,3.345769e+07

# Importazione dati file zip

In [24]:
cartella_dataset="C:/Users/fabio/Desktop/Found of cs/Info bus"
elenco_file = os.listdir(cartella_dataset)

In [25]:
el1=elenco_file[0:99]
el2=elenco_file[100:199]
el3=elenco_file[200:299]
el4=elenco_file[300:399]
el5=elenco_file[400:499]
el6=elenco_file[500:599]
el7=elenco_file[600:699]
el8=elenco_file[700:799]
el9=elenco_file[800:899]
el10=elenco_file[900:999]
el11=elenco_file[1000:1099]
el12=elenco_file[1100:1199]
el13=elenco_file[1200:1299]
el14=elenco_file[1300:1408]

In [12]:
# finale1=pd.DataFrame()
# i=0

#per analizzare tutti i file non li leggo tutti insieme perchè ci mette troppo tempo a causa delle dimensioni, perciò
#dopo averli divisi nella cella sopra in 14 gruppi leggo e concateno tutti i file dentro i gruppi, per poi concatenarli tutti e
#14 alla fine.
#quando leggo il singolo file tengo solo le osservazioni in cui stopname è diverso da '-', ovvero dove è presente effettivamente
#il nome, dopodichè per ogni file singolo creo un vettore che metto come colonna in cui riporto il nome del trip e uno in cui 
#metto il suo numero


# for file in el1:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale1=pd.concat([finale1,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale2=pd.DataFrame()
# i=100
# for file in el2:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale2=pd.concat([finale2,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale3=pd.DataFrame()
# i=200
# for file in el3:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale3=pd.concat([finale3,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale4=pd.DataFrame()
# i=300
# for file in el4:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale4=pd.concat([finale4,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale5=pd.DataFrame()
# i=400
# for file in el5:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale5=pd.concat([finale5,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale6=pd.DataFrame()
# i=500
# for file in el6:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale6=pd.concat([finale6,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale7=pd.DataFrame()
# i=600
# for file in el7:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale7=pd.concat([finale7,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale8=pd.DataFrame()
# i=700
# for file in el8:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale8=pd.concat([finale8,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale9=pd.DataFrame()
# i=800
# for file in el9:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale9=pd.concat([finale9,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale10=pd.DataFrame()
# i=900
# for file in el10:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale10=pd.concat([finale10,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale11=pd.DataFrame()
# i=1000
# for file in el11:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale11=pd.concat([finale11,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale12=pd.DataFrame()
# i=1100
# for file in el12:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale12=pd.concat([finale12,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale13=pd.DataFrame()
# i=1200
# for file in el13:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale13=pd.concat([finale13,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale14=pd.DataFrame()
# i=1300
# for file in el14:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['itcs_stopName']!='-']
#     vettore=[bus['name'][i]]*len(singolo)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['nome_bus']=vettore
#     singolo['numero_bus']=vettore2
#     finale14=pd.concat([finale14,singolo], axis=0)
#     i=i+1
#     print(i)
# finalecompleto=pd.concat([finale1,finale2,finale3,finale4,finale5,finale6,finale7,finale8,finale9,
#                          finale10,finale11,finale12,finale13,finale14])
# finalecompleto.to_csv("C:/Users/fabio/Desktop/Found of cs/finale.csv", index=False)

In [26]:
stazioni=pd.read_csv("C:/Users/fabio/Desktop/Found of cs/finale.csv", low_memory=False)
stazioni=stazioni.rename(columns={'nome_bus':'trip_name'})

In [27]:
stazioni

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,route_bus,trip_name,numero_bus
0,2019-04-30T03:23:02Z,1556594582,46853.79,423.9126,1.303761,0.827037,0.148511,-,1.0,"Zürich, Herdernstrasse",...,0.0,1.0,0.0,0.0,291.150,0.0,14819.530000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
1,2019-04-30T03:24:18Z,1556594658,54698.17,NaN,NaN,NaN,NaN,-,2.0,"Zürich, Hardplatz",...,0.0,1.0,0.0,0.0,288.150,0.0,16939.120000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
2,2019-04-30T03:25:42Z,1556594742,33962.44,NaN,NaN,NaN,NaN,-,3.0,"Zürich, Güterbahnhof",...,0.0,1.0,0.0,0.0,287.150,0.0,6230.346000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
3,2019-04-30T03:27:24Z,1556594844,59833.09,NaN,NaN,NaN,NaN,-,5.0,"Zürich, Bäckeranlage",...,0.0,1.0,0.0,0.0,287.150,0.0,20058.230000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
4,2019-04-30T03:28:20Z,1556594900,11191.58,NaN,NaN,NaN,NaN,-,6.0,"Zürich, Militär-/Langstrasse",...,0.0,1.0,0.0,0.0,286.150,0.0,12064.050000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440095,2022-12-10T02:20:15Z,1670638815,69716.05,479.4856,5.345738,0.827383,0.148225,N4,7.0,"Zürich, Singlistrasse",...,0.0,1.0,0.0,0.0,278.150,0.0,6634.168000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208
440096,2022-12-10T02:21:26Z,1670638886,12685.59,498.4000,0.000000,0.827424,0.148171,N4,8.0,"Zürich, Segantinistrasse",...,0.0,1.0,1.0,0.0,277.408,241666.7,-3.728719,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208
440097,2022-12-10T02:22:27Z,1670638947,127347.70,512.3620,5.674419,0.827472,0.148111,N4,8.0,"Zürich, Giblenstrasse",...,0.0,1.0,0.0,0.0,277.150,0.0,7390.386000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208
440098,2022-12-10T02:22:54Z,1670638974,49468.62,514.7844,5.933979,0.827502,0.148073,N4,8.0,"Zürich, Heizenholz",...,0.0,1.0,0.0,0.0,277.150,0.0,3352.311000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208
440099,2022-12-10T02:24:23Z,1670639063,12496.05,504.7146,0.000000,0.827536,0.148017,N4,3.0,"Zürich, Geeringstrasse",...,1.0,1.0,1.0,0.0,277.150,243333.3,0.000000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208

# Esercizio 5
For each station (itcs_stopName), determine the average number of passengers.

In [31]:
stazioni.groupby('itcs_stopName').mean().dropna(subset=['itcs_numberOfPassengers'])['itcs_numberOfPassengers']
##first it groups by station, than it calculates the mean, then it drops rows where number of passengers is NA,
##ultimately it selects only the column with the avg number of passengers

itcs_stopName
Zürich, Albisrank                 16.206083
Zürich, Albisriederplatz          25.447154
Zürich, Altes Krematorium         21.978083
Zürich, Bahnhof Affoltern          2.859375
Zürich, Bahnhof Altstetten         7.803913
                                    ...
Zürich, Zentrum Witikon           17.655172
Zürich, Zweiackerstrasse           7.663415
Zürich, Zwielplatz                 2.049383
Zürich, Zwinglihaus               23.166414
Zürich,Kalkbreite/Bhf.Wiedikon    23.132438
Name: itcs_numberOfPassengers, Length: 149, dtype: float64

# Esercizio 6
For each station, determine the buses that have stopped there at least once.

In [16]:
stazioni.groupby(['itcs_stopName','numero_bus','itcs_busRoute']).size()[stazioni.groupby(['itcs_stopName','numero_bus','itcs_busRoute']).size()>=1]

itcs_stopName                   numero_bus  itcs_busRoute
Zürich, Albisrank               183         83               6284
                                208         83               6177
Zürich, Albisriederplatz        183         -                   4
                                            33               2343
                                            72               2473
                                                             ...
Zürich, Zwinglihaus             208         N2                 63
Zürich,Kalkbreite/Bhf.Wiedikon  183         32                195
                                            N2                 84
                                208         32                179
                                            N2                 63
Length: 619, dtype: int64

# Esercizio 7
For each station, determine the buses that have stopped there at least ten times.

In [17]:
stazioni.groupby(['itcs_stopName','numero_bus','itcs_busRoute']).size()[stazioni.groupby(['itcs_stopName','numero_bus','itcs_busRoute']).size()>=10]

itcs_stopName                   numero_bus  itcs_busRoute
Zürich, Albisrank               183         83               6284
                                208         83               6177
Zürich, Albisriederplatz        183         33               2343
                                            72               2473
                                            83               6290
                                                             ...
Zürich, Zwinglihaus             208         N2                 63
Zürich,Kalkbreite/Bhf.Wiedikon  183         32                195
                                            N2                 84
                                208         32                179
                                            N2                 63
Length: 542, dtype: int64

# Esercizio 9
For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [33]:
gruppi=bus.groupby(['busRoute','busNumber']).sum()
energyratio=gruppi['energyConsumption']/gruppi['drivenDistance']
energyratio

busRoute  busNumber
-         183          6230.233181
31        183          6086.891785
          208          5290.862713
32        183          6174.585331
          208          5491.247671
33        183          5970.747507
          208          5639.244537
46        183          5631.035959
          208          5583.110707
72        183          5899.029643
          208          5410.318878
83        183          5844.977154
          208          5819.638891
N1        183          5980.920966
          208          5640.061883
N2        183          5701.850332
          208          5405.152963
N4        183          6154.986937
          208          6067.190112
dtype: float64

# Esercizio 10
Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [38]:
enratio=energyratio.reset_index()
#gli indici delle osservazioni vengono resettaati, la terza colonna assume nome '0' perciò lo cambio col seguente comando
enratio=enratio.rename(columns={0:'range'})
es10=pd.DataFrame((enratio.groupby(['busRoute']).max()-enratio.groupby(['busRoute']).min()))
es10=es10.reset_index()

es10=es10.iloc[:,[0,2]]
print(enratio)
es10

   busRoute  busNumber        range
0         -        183  6230.233181
1        31        183  6086.891785
2        31        208  5290.862713
3        32        183  6174.585331
4        32        208  5491.247671
5        33        183  5970.747507
6        33        208  5639.244537
7        46        183  5631.035959
8        46        208  5583.110707
9        72        183  5899.029643
10       72        208  5410.318878
11       83        183  5844.977154
12       83        208  5819.638891
13       N1        183  5980.920966
14       N1        208  5640.061883
15       N2        183  5701.850332
16       N2        208  5405.152963
17       N4        183  6154.986937
18       N4        208  6067.190112

  busRoute       range
0        -    0.000000
1       31  796.029072
2       32  683.337660
3       33  331.502969
4       46   47.925252
5       72  488.710765
6       83   25.338263
7       N1  340.859083
8       N2  296.697369
9       N4   87.796825

# Esercizio 11
Find the bus maximizing the difference computed in the previous point.

In [41]:
bestRoute=es10.iloc[es10['range'].idxmax()][0]  #busRoute of the best
bestbuses=enratio[enratio['busRoute']==bestRoute] #the best buses
bestbusindex=bestbuses['range'].idxmax() #index of the best bus
bestbus=bestbuses.loc[bestbusindex]
bestbus
#as you can see the best is number 183 for route 31

busRoute              31
busNumber            183
range        6086.891785
Name: 1, dtype: object

# Esercizio 12
Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.

In [21]:
# finale1=pd.DataFrame()
# i=0

#per ogni file seleziona tutte le osservazioni senza NA, dopodichè crea un vettore con tutti i valori e uno con tutti i valori 
#dalla prima alla penultima, a cui aggiunge all'inizio il valore della prima osservazione
#in questo modo confrontando i vettori ogni osservazione viene confrontata con la precedente e vengono salavate quelle che sono
#diverse, in singolo 2 salviamo solo queste osservazioni e calcoliamo la differenza tra le altitudini

# for file in el1:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale1=pd.concat([finale1,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale2=pd.DataFrame()
# i=100
# for file in el2:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale2=pd.concat([finale2,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale3=pd.DataFrame()
# i=200
# for file in el3:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale3=pd.concat([finale3,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale4=pd.DataFrame()
# i=300
# for file in el4:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale4=pd.concat([finale4,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale5=pd.DataFrame()
# i=400
# for file in el5:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale5=pd.concat([finale5,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale6=pd.DataFrame()
# i=500
# for file in el6:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale6=pd.concat([finale6,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale7=pd.DataFrame()
# i=600
# for file in el7:
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale7=pd.concat([finale7,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale8=pd.DataFrame()
# i=700
# for file in el8:
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale8=pd.concat([finale8,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale9=pd.DataFrame()
# i=800
# for file in el9:
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale9=pd.concat([finale9,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale10=pd.DataFrame()
# i=900
# for file in el10:
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale10=pd.concat([finale10,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale11=pd.DataFrame()
# i=1000
# for file in el11:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale11=pd.concat([finale11,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale12=pd.DataFrame()
# i=1100
# for file in el12:
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale12=pd.concat([finale12,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale13=pd.DataFrame()
# i=1200
# for file in el13:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale13=pd.concat([finale13,singolo2], axis=0)
#     i=i+1
#     print(i)
    
# finale14=pd.DataFrame()
# i=1300
# for file in el14:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     singolo=singolo[singolo['gnss_altitude'].notna()]
#     lunghezza=len(singolo)
#     es12=np.where(singolo.gnss_altitude.iloc[range(0,lunghezza )].values!=np.append(singolo.gnss_altitude.iloc[0],singolo.gnss_altitude.iloc[range(0,lunghezza-1 )].values))[0]
#     singolo2=singolo.iloc[es12]
#     singolo2=singolo2.reset_index()
#     altitude=pd.Series(singolo.gnss_altitude.iloc[es12].values-singolo.gnss_altitude.iloc[es12-1].values)
#     singolo2['altitude_variation']=altitude
#     singolo2=singolo2.loc[:,['gnss_altitude','altitude_variation']]
#     vettore=[bus['name'][i]]*len(singolo2)
#     vettore2=[bus['busNumber'][i]]*len(singolo2)
#     vettore3=[i+1]*len(singolo2)
#     singolo2['nome_bus']=vettore
#     singolo2['numero_bus']=vettore2
#     singolo2['numero_dataset']=vettore3
#     finale14=pd.concat([finale14,singolo2], axis=0)
#     i=i+1
#     print(i)
# finalecompleto=pd.concat([finale1,finale2,finale3,finale4,finale5,finale6,finale7,finale8,finale9,
#                          finale10,finale11,finale12,finale13,finale14])
# finalecompleto.to_csv("C:/Users/fabio/Desktop/Found of cs/altitude.csv", index=False)

In [42]:
altitude=pd.read_csv("C:/Users/fabio/Desktop/Found of cs/altitude.csv", low_memory=False)
altitude=altitude.rename(columns={'nome_bus':'trip_name'})

In [43]:
altitude

,gnss_altitude,altitude_variation,trip_name,numero_bus,numero_dataset
0,397.8299,0.0299,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1
1,400.3140,2.4841,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1
2,401.6892,1.3752,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1
3,400.4860,-1.2032,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1
4,399.1192,-1.3668,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1
...,...,...,...,...,...
34740850,247.1100,-1.9890,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,1408
34740851,245.3041,-1.8059,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,1408
34740852,245.0110,-0.2931,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,1408
34740853,244.6224,-0.3886,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,1408
34740854,233.6167,-11.0057,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,1408

# Esercizio 13
For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.

In [25]:
altitude['abs_value']=abs(altitude.altitude_variation)
altitude.groupby('numero_dataset').sum()['abs_value']

numero_dataset
1         188.3500
2        4257.2565
3         772.5432
4        4253.7392
5       13496.2470
           ...
1404    14364.8941
1405     2326.8094
1406     8617.6752
1407     8022.7330
1408     2761.4677
Name: abs_value, Length: 1395, dtype: float64

# Esercizio 14
For each month of the year, compute the average ambient temperature

In [49]:
#we can do this on the bus dataset since every rows contains the mean temperatre of the corresponding trip dataset
meseinizio=bus.startTime_iso.apply(lambda x: parser.isoparse(x)).dt.month #first it reads it as an isoformat date, than turns it
#into a datetime than extract the month
mesefine=bus.endTime_iso.apply(lambda x: parser.isoparse(x)).dt.month 
all(meseinizio==mesefine) #not all trips began and ended in the same month, so let's  find out those trips
cambiamese=np.where(meseinizio!=mesefine)[0]
cambiamese

array([ 146,  509,  854, 1128, 1202], dtype=int64)

In [50]:
#average temperature for month for all the trips that started and ended in tha same month
busmesiuguali=bus.drop(cambiamese)
busmesiuguali.endTime_iso=busmesiuguali.endTime_iso.apply(lambda x: parser.isoparse(x)).dt.month 
busmesiuguali.startTime_iso=busmesiuguali.startTime_iso.apply(lambda x: parser.isoparse(x)).dt.month
#converte il mese in numero: es gennaio= 1

In [51]:
#add the trip that change month, one observation for each month reporting the average temperature
for i in cambiamese:
    percorso_file = os.path.join(cartella_dataset, elenco_file[i])
    bus1=pd.read_csv(percorso_file)
    bus1.time_iso=bus1.time_iso.apply(lambda x: parser.isoparse(x)).dt.month
    #qui calcolo la media della temperatura nel mese corrispondente in cui è avvenuto il trip
    a=pd.DataFrame(bus1.groupby('time_iso').mean()['temperature_ambient']).reset_index()
    a.columns=['startTime_iso','temperature_ambient_mean']
    #aggiungo queste osservazioni al dataset con busmediuguali
    busmesiuguali=pd.concat([busmesiuguali,a])

In [52]:
mediemensili=busmesiuguali.groupby('startTime_iso').mean()['temperature_ambient_mean']
mediemensili

startTime_iso
1     278.928965
2     280.529928
3     283.319157
4     286.745073
5     290.051582
6     296.116006
7     297.376967
8     295.847943
9     292.362038
10    287.718521
11    281.907169
12    279.383188
Name: temperature_ambient_mean, dtype: float64

# Esercizio 15
For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

In [30]:
# finale1=pd.DataFrame()
# i=0
#per ogni file faccio group by per il numero del bus(quindi per ogni bus), salvo poi le somme dopo aver raggruppato
# for file in el1:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale1=pd.concat([finale1,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale2=pd.DataFrame()
# i=100
# for file in el2:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale2=pd.concat([finale2,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale3=pd.DataFrame()
# i=200
# for file in el3:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale3=pd.concat([finale3,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale4=pd.DataFrame()
# i=300
# for file in el4:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale4=pd.concat([finale4,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale5=pd.DataFrame()
# i=400
# for file in el5:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale5=pd.concat([finale5,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale6=pd.DataFrame()
# i=500
# for file in el6:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale6=pd.concat([finale6,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale7=pd.DataFrame()
# i=600
# for file in el7:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale7=pd.concat([finale7,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale8=pd.DataFrame()
# i=700
# for file in el8:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale8=pd.concat([finale8,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale9=pd.DataFrame()
# i=800
# for file in el9:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale9=pd.concat([finale9,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale10=pd.DataFrame()
# i=900
# for file in el10:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale10=pd.concat([finale10,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale11=pd.DataFrame()
# i=1000
# for file in el11:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale11=pd.concat([finale11,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale12=pd.DataFrame()
# i=1100
# for file in el12:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale12=pd.concat([finale12,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale13=pd.DataFrame()
# i=1200
# for file in el13:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale13=pd.concat([finale13,singolo], axis=0)
#     i=i+1
#     print(i)
    
# finale14=pd.DataFrame()
# i=1300
# for file in el14:
#     percorso_file = os.path.join(cartella_dataset, file)
#     singolo = pd.read_csv(percorso_file)
#     vettore2=[bus['busNumber'][i]]*len(singolo)
#     singolo['numero_bus']=vettore2
#     singolo=singolo.groupby('numero_bus').sum()  
#     finale14=pd.concat([finale14,singolo], axis=0)
#     i=i+1
#     print(i)
# finalecompleto=pd.concat([finale1,finale2,finale3,finale4,finale5,finale6,finale7,finale8,finale9,
#                          finale10,finale11,finale12,finale13,finale14])
# finalecompleto.to_csv("C:/Users/fabio/Desktop/Found of cs/es14.csv", index=True)

In [3]:
es15=pd.read_csv("C:/Users/fabio/Desktop/Found of cs/es14.csv")
es15=es15.groupby('numero_bus').sum()[['status_haltBrakeIsActive','status_parkBrakeIsActive']]
es15['ratio']=es15['status_haltBrakeIsActive']/es15['status_parkBrakeIsActive']
es15

            status_haltBrakeIsActive  status_parkBrakeIsActive     ratio
numero_bus
183                        7744368.0                 3156281.0  2.453637
208                        5893499.0                 1813113.0  3.250486

# Esercizio 16
For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.

In [4]:
stazioni=pd.read_csv("C:/Users/fabio/Desktop/Found of cs/finale.csv", low_memory=False)
stazioni=stazioni.rename(columns={'nome_bus':'trip_name'})

In [8]:
trips=np.unique(stazioni.trip_name)
ultimi=[]
#salva l'indice corrispondente all'ultima osservazione di ogni trip
for i in range(0,len(trips)):
    ultimi=ultimi+[stazioni[stazioni.trip_name==trips[i]].index[-1]]
ultimi

[192,
 288,
 896,
 950,
 1230,
 1893,
 2463,
 3162,
 3979,
 4517,
 5080,
 5412,
 5665,
 5825,
 6181,
 6755,
 7247,
 7930,
 8600,
 9242,
 9843,
 10401,
 11125,
 11767,
 12535,
 12817,
 13095,
 13263,
 13407,
 13653,
 13821,
 13934,
 14708,
 15524,
 16156,
 16717,
 17239,
 17874,
 18202,
 18369,
 18492,
 19100,
 19874,
 20393,
 20844,
 21661,
 21774,
 22471,
 22971,
 23757,
 24577,
 24966,
 25350,
 26019,
 26604,
 27076,
 27201,
 27556,
 28106,
 28618,
 29313,
 30024,
 30700,
 31538,
 32170,
 33008,
 33133,
 33352,
 34158,
 34855,
 35579,
 36188,
 36896,
 37481,
 37957,
 38080,
 38473,
 38965,
 39560,
 40188,
 40321,
 40704,
 41445,
 41964,
 42673,
 42833,
 42932,
 43121,
 43959,
 44612,
 45268,
 45428,
 45532,
 45682,
 46027,
 46418,
 47027,
 47216,
 47844,
 48689,
 49413,
 49539,
 49922,
 50663,
 50823,
 50961,
 51554,
 51943,
 52103,
 52415,
 52565,
 52958,
 53143,
 53462,
 53793,
 54192,
 54445,
 54829,
 55451,
 56114,
 56699,
 57256,
 57865,
 58371,
 58767,
 59000,
 59126,
 59414,
 59772,
 60235,
 60898,
 61083,
 61243,
 61969,
 62607,
 63350,
 63910,
 64607,
 65160,
 65646,
 66278,
 66910,
 67361,
 67807,
 68463,
 69155,
 69353,
 69602,
 70408,
 70968,
 71730,
 72400,
 73003,
 73327,
 73796,
 74349,
 74481,
 74871,
 75276,
 75517,
 75820,
 76099,
 76322,
 76614,
 76746,
 76878,
 77042,
 77142,
 77280,
 77348,
 77515,
 77935,
 78291,
 78459,
 79011,
 79386,
 79593,
 79664,
 79771,
 79899,
 80327,
 81066,
 81220,
 81330,
 81463,
 81654,
 82102,
 82390,
 82842,
 83277,
 83712,
 84132,
 84300,
 84437,
 85081,
 85954,
 86120,
 86167,
 86493,
 87057,
 87353,
 87743,
 87862,
 87964,
 88096,
 88195,
 88327,
 88457,
 88982,
 89252,
 89402,
 89502,
 89581,
 89782,
 90292,
 91019,
 91151,
 91287,
 91581,
 91681,
 91747,
 91817,
 92011,
 92717,
 92817,
 92908,
 92955,
 93085,
 93362,
 94066,
 94162,
 94281,
 94756,
 94986,
 95101,
 95201,
 95365,
 95529,
 96307,
 96439,
 96742,
 96842,
 96974,
 97089,
 97200,
 97332,
 97696,
 98165,
 98494,
 98620,
 99193,
 99550,
 99635,
 99697,
 99979,
 100771,
 101539,
 102346,
 102990,
 103139,
 103591,
 103924,
 104056,
 104188,
 104616,
 105021,
 105524,
 105656,
 105756,
 105888,
 105973,
 106105,
 106498,
 106630,
 107114,
 107235,
 107559,
 108337,
 108505,
 108757,
 108857,
 108959,
 109123,
 109287,
 109451,
 109856,
 110729,
 111252,
 111513,
 111699,
 112456,
 112620,
 112821,
 113328,
 113927,
 114379,
 114511,
 114611,
 114760,
 115047,
 115148,
 115600,
 115700,
 115832,
 115964,
 116212,
 117038,
 117762,
 117894,
 118026,
 118132,
 118954,
 119350,
 119482,
 119614,
 119778,
 119878,
 119978,
 120091,
 120231,
 120359,
 120487,
 120906,
 121284,
 121743,
 121871,
 121999,
 122414,
 122829,
 123267,
 123627,
 123921,
 124018,
 124146,
 124545,
 124844,
 125014,
 125664,
 126102,
 126906,
 127003,
 127418,
 127546,
 127674,
 128143,
 128551,
 128975,
 129398,
 129836,
 129964,
 130041,
 130418,
 131077,
 131202,
 131595,
 132326,
 132822,
 132950,
 133078,
 133866,
 134686,
 134824,
 135217,
 135686,
 136080,
 136208,
 136336,
 136464,
 136561,
 136720,
 137400,
 138273,
 138645,
 138773,
 139150,
 139903,
 140531,
 140628,
 140756,
 140884,
 141012,
 141412,
 141881,
 142525,
 142684,
 142781,
 142940,
 143416,
 143546,
 143831,
 144227,
 144370,
 144452,
 144611,
 144710,
 145118,
 145206,
 145350,
 145774,
 145862,
 145990,
 146082,
 146241,
 146400,
 146528,
 146656,
 146784,
 146912,
 147143,
 147303,
 147540,
 148190,
 148592,
 149061,
 149158,
 149286,
 149701,
 150170,
 150267,
 150426,
 150521,
 150806,
 150936,
 151057,
 151154,
 151282,
 151410,
 151879,
 151976,
 152104,
 152465,
 152562,
 152705,
 153123,
 153538,
 153727,
 154572,
 154669,
 154828,
 154925,
 155308,
 155452,
 155611,
 156263,
 156901,
 156998,
 157126,
 157502,
 157940,
 158028,
 158187,
 158284,
 158443,
 158912,
 159009,
 159217,
 159382,
 159479,
 159607,
 159735,
 159974,
 160398,
 160635,
 160836,
 161260,
 161698,
 161857,
 162319,
 162416,
 162544,
 162937,
 163391,
 163488,
 163616,
 163744,
 163872,
 163969,
 164128,
 164287,
 164711,
 164839,
 164967,
 165064,
 165177,
 165274,
 165402,
 165530,
 165658,
 166051,
 166148,
 166307,
 166745,
 167214,
 167988,
 168546,
 168674,
 168771,
 168899,
 169323,
 169761,
 169858,
 170017,
 170605,
 171197,
 171773,
 172417,
 173191,
 173319,
 173703,
 174172,
 174756,
 174899,
 175401,
 175927,
 176343,
 176987,
 177532,
 178068,
 178227,
 178366,
 178494,
 178912,
 179288,
 179385,
 179513,
 179643,
 179756,
 179915,
 180056,
 180153,
 180591,
 181015,
 181143,
 181271,
 181680,
 181777,
 181874,
 182033,
 182130,
 182289,
 182713,
 183076,
 183261,
 183399,
 183837,
 183934,
 184062,
 184500,
 184626,
 184737,
 184896,
 185320,
 185735,
 186189,
 186286,
 186414,
 186574,
 187043,
 187131,
 187228,
 187330,
 187799,
 188591,
 188717,
 188894,
 189309,
 189448,
 189630,
 190275,
 190919,
 191075,
 191719,
 191891,
 192329,
 193056,
 193213,
 193337,
 193791,
 193886,
 194033,
 194130,
 194289,
 194386,
 194545,
 194642,
 194770,
 195170,
 195639,
 195795,
 195951,
 196048,
 196207,
 196295,
 196454,
 197208,
 197387,
 197484,
 197643,
 197802,
 197961,
 198338,
 198435,
 198594,
 198741,
 199134,
 199311,
 199916,
 200075,
 200172,
 200300,
 200715,
 201153,
 201297,
 201468,
 202144,
 202772,
 203196,
 203634,
 203731,
 203845,
 203938,
 204376,
 204535,
 204950,
 205404,
 205501,
 205629,
 205746,
 205834,
 205993,
 206647,
 207297,
 207425,
 207840,
 207993,
 208058,
 208155,
 208314,
 208738,
 208866,
 208994,
 209166,
 209581,
 210050,
 210153,
 210294,
 210471,
 210909,
 211006,
 211165,
 211589,
 212186,
 212314,
 212427,
 212842,
 213311,
 213707,
 214399,
 215094,
 215266,
 215589,
 216407,
 217211,
 217922,
 218519,
 218895,
 218992,
 219120,
 219589,
 220130,
 220231,
 220807,
 220918,
 221015,
 221128,
 221225,
 221353,
 221737,
 221870,
 221996,
 222593,
 222721,
 222849,
 223303,
 223400,
 223497,
 223625,
 223739,
 224132,
 224258,
 224382,
 224851,
 224999,
 225423,
 225537,
 225716,
 225875,
 226416,
 226544,
 227077,
 227546,
 228391,
 228893,
 229022,
 229437,
 229906,
 230034,
 230323,
 230627,
 230755,
 231116,
 231447,
 231575,
 231734,
 232276,
 232404,
 232501,
 232920,
 233465,
 233785,
 234313,
 234839,
 234921,
 235222,
 235688,
 235844,
 236518,
 237206,
 237851,
 238419,
 238950,
 239210,
 239315,
 239994,
 240526,
 241178,
 241493,
 242038,
 242375,
 243018,
 243692,
 243884,
 244558,
 244852,
 245031,
 245533,
 245630,
 245789,
 245886,
 246045,
 246443,
 246881,
 247279,
 247407,
 247535,
 247973,
 248397,
 248804,
 249228,
 249606,
 250014,
 250173,
 250332,
 250429,
 250526,
 250964,
 251078,
 251456,
 251613,
 252037,
 252475,
 252883,
 253082,
 253245,
 253577,
 253671,
 253799,
 254189,
 254591,
 254989,
 255458,
 255850,
 256180,
 256794,
 256944,
 257336,
 257766,
 258558,
 259232,
 259777,
 260220,
 260689,
 260976,
 261469,
 261971,
 262319,
 262993,
 263767,
 264559,
 265351,
 265652,
 265793,
 266191,
 266660,
 267008,
 267575,
 267672,
 267786,
 268436,
 269080,
 269381,
 270087,
 270377,
 270923,
 271002,
 271491,
 271646,
 272239,
 272864,
 273151,
 273411,
 273935,
 274609,
 275140,
 275281,
 275350,
 275857,
 276310,
 276898,
 277337,
 277839,
 277877,
 277917,
 278587,
 279175,
 279347,
 279520,
 279692,
 279865,
 280037,
 280310,
 280800,
 281193,
 281838,
 282456,
 282953,
 283708,
 284004,
 284613,
 284732,
 285261,
 285376,
 285629,
 285883,
 286279,
 286867,
 287011,
 287405,
 287829,
 288206,
 288659,
 288756,
 289102,
 289190,
 289334,
 289462,
 289590,
 289718,
 290126,
 290667,
 291090,
 291218,
 291627,
 292049,
 292873,
 292970,
 293113,
 293535,
 293673,
 294067,
 294252,
 294349,
 294477,
 294884,
 294966,
 295109,
 295206,
 295365,
 295462,
 295528,
 295625,
 295722,
 295881,
 296104,
 296305,
 296627,
 297039,
 297413,
 297510,
 297638,
 297735,
 297863,
 298155,
 298959,
 299104,
 299263,
 299351,
 299495,
 299592,
 299751,
 300083,
 300180,
 300308,
 300405,
 300533,
 300955,
 301379,
 301967,
 302064,
 302192,
 302592,
 302704,
 302832,
 303231,
 303359,
 303487,
 303694,
 304147,
 304665,
 305484,
 305561,
 305689,
 305817,
 305945,
 306276,
 306373,
 306532,
 306620,
 306764,
 307173,
 307541,
 307918,
 308310,
 308407,
 308566,
 308725,
 308822,
 308981,
 309069,
 309198,
 309581,
 309709,
 309822,
 310244,
 310341,
 310500,
 310597,
 310794,
 311326,
 311414,
 311558,
 311640,
 311799,
 312192,
 312591,
 313029,
 313574,
 314012,
 314465,
 314495,
 314910,
 315302,
 315755,
 316130,
 316227,
 316355,
 316702,
 316830,
 316989,
 317086,
 317183,
 317514,
 317929,
 318367,
 318707,
 319133,
 319292,
 319885,
 320028,
 320125,
 320284,
 320381,
 320540,
 320684,
 320781,
 320909,
 321263,
 321576,
 321908,
 322036,
 ...]

In [152]:
#creac un vettore che parte dalla prima osservazione e arriva alla fine contenente itcs_stopname
stazdopo=stazioni.itcs_stopName[range(1,len(stazioni))]
#aggiungo un'osservazione alla fine contenente '-'
stazdopo=pd.concat([stazdopo,pd.Series(['-'])], ignore_index=True)
#assegna '-' alle osservazioni contenute in ultimi
stazdopo[ultimi]='-'
stazioni['stazdopo']=stazdopo
stazioni.groupby(['itcs_stopName','stazdopo']).mean()['odometry_vehicleSpeed']
#dovrei ripetere la procedura utilizzata per creare stazdopo per riportare le variabili utili per fare il calcolo, tuttavia
#non trovo  che le variabili siano utili

itcs_stopName                   stazdopo
Zürich, Albisrank               Zürich, Flurstrasse               0.723520
                                Zürich, Hubertus                  0.547944
Zürich, Albisriederplatz        Zürich, Altes Krematorium         0.528238
                                Zürich, Friedhof Sihlfeld         0.336149
                                Zürich, Hardplatz                 0.363383
                                                                    ...
Zürich, Zwinglihaus             Zürich, Goldbrunnenplatz          0.549865
                                Zürich, Schmiede Wiedikon         0.387258
                                Zürich,Kalkbreite/Bhf.Wiedikon    0.577960
Zürich,Kalkbreite/Bhf.Wiedikon  Zürich, Kernstrasse               0.262991
                                Zürich, Zwinglihaus               0.252893
Name: odometry_vehicleSpeed, Length: 419, dtype: float64

In [156]:
stazioni.columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'route_bus', 'trip_name', 'numero_bus',
       'stazdopo'],
      dtype='object')

In [157]:
stazioni

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,route_bus,trip_name,numero_bus,stazdopo
0,2019-04-30T03:23:02Z,1556594582,46853.79,423.9126,1.303761,0.827037,0.148511,-,1.0,"Zürich, Herdernstrasse",...,1.0,0.0,0.0,291.150,0.0,14819.530000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,"Zürich, Hardplatz"
1,2019-04-30T03:24:18Z,1556594658,54698.17,NaN,NaN,NaN,NaN,-,2.0,"Zürich, Hardplatz",...,1.0,0.0,0.0,288.150,0.0,16939.120000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,"Zürich, Güterbahnhof"
2,2019-04-30T03:25:42Z,1556594742,33962.44,NaN,NaN,NaN,NaN,-,3.0,"Zürich, Güterbahnhof",...,1.0,0.0,0.0,287.150,0.0,6230.346000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,"Zürich, Bäckeranlage"
3,2019-04-30T03:27:24Z,1556594844,59833.09,NaN,NaN,NaN,NaN,-,5.0,"Zürich, Bäckeranlage",...,1.0,0.0,0.0,287.150,0.0,20058.230000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,"Zürich, Militär-/Langstrasse"
4,2019-04-30T03:28:20Z,1556594900,11191.58,NaN,NaN,NaN,NaN,-,6.0,"Zürich, Militär-/Langstrasse",...,1.0,0.0,0.0,286.150,0.0,12064.050000,-,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,"Zürich, Kanonengasse"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440095,2022-12-10T02:20:15Z,1670638815,69716.05,479.4856,5.345738,0.827383,0.148225,N4,7.0,"Zürich, Singlistrasse",...,1.0,0.0,0.0,278.150,0.0,6634.168000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,"Zürich, Segantinistrasse"
440096,2022-12-10T02:21:26Z,1670638886,12685.59,498.4000,0.000000,0.827424,0.148171,N4,8.0,"Zürich, Segantinistrasse",...,1.0,1.0,0.0,277.408,241666.7,-3.728719,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,"Zürich, Giblenstrasse"
440097,2022-12-10T02:22:27Z,1670638947,127347.70,512.3620,5.674419,0.827472,0.148111,N4,8.0,"Zürich, Giblenstrasse",...,1.0,0.0,0.0,277.150,0.0,7390.386000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,"Zürich, Heizenholz"
440098,2022-12-10T02:22:54Z,1670638974,49468.62,514.7844,5.933979,0.827502,0.148073,N4,8.0,"Zürich, Heizenholz",...,1.0,0.0,0.0,277.150,0.0,3352.311000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,"Zürich, Geeringstrasse"
440099,2022-12-10T02:24:23Z,1670639063,12496.05,504.7146,0.000000,0.827536,0.148017,N4,3.0,"Zürich, Geeringstrasse",...,1.0,1.0,0.0,277.150,243333.3,0.000000,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,-